@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #ffffff;
  --secondary: #dadada;
  --highlight: #4ae3b5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18212a;
    --foreground: #bbbbbb;
    --primary: #18212a;
    --secondary: #151c22;
    --highlight: #4ae3b5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway), sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit), sans-serif;
}

@layer utilities {
  .font-outfit {
    font-family: var(--font-outfit), sans-serif;
  }

  .font-raleway {
    font-family: var(--font-raleway), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
